aws_default_region  = "us-east-1"
# S3 buckets and DNS will be based on this domain name
domain_name         = "bhavik.io"
master_account_id   = "<Master Account ID>"
prefix              = "<Friendly Name Prefix>"
profile             = "terraform-master"
